[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyJWT = "==1.7.1"
cryptography = "==3.3.1"
requests = "==2.25.0"
dataclasses = "==0.8"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.6"
